.nav-mob {
  display: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, span, div, a, button{
  font-family: "Verdana" !important;
}


figure.bgred_home{
  margin-top: 6px;
  padding-top: 59%;
  background-image: url("DFCC_HOME.JPG");
  background-size: cover;
  background-position: center;
}
figure.bgred_home_1{
  margin-top: 0px;
  padding-top: 35%;
  background-image: url("avurudu-offers-570x270.png");
  background-size: cover;
  background-position: center;
}

figure.bgred_credit_home{
  //margin-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 149%;
  background-image: url("DFCC_CREDIT_Summary.JPG");
  background-size: cover;
  background-position: center;
}
figure.bgred_credit_ad{
  //margin-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 241%;
  background-image: url("DFCC_AD.JPG");
  background-size: cover;
  background-position: center;
}


.gridimg1{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:0.5%;
  margin-left: 42px;
  height: 44%;
  background: url("rewards1.png") no-repeat;
}

.gridimg2{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards2.png") no-repeat;
}
.gridimg3{
  float:left;
  width: 100%;

  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards3.png") no-repeat;
}


.gridimg4{
  float:left;
  width: 100%;

  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  height: 45%;
  margin-left: 42px;
  background: url("rewards4.png") no-repeat;
}
.gridimg5{
  float:left;
  width: 100%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards5.png") no-repeat;
}
.gridimg6{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards6.png") no-repeat;
}
.gridimg7{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  height: 45%;
  margin-left: 42px;
  background: url("rewards7.png") no-repeat;
}
.gridimg8{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards8.png") no-repeat;
}
.gridimg9{
  float:left;
  width: 100%;
  padding-bottom: 5%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  margin-left: 42px;
  height: 45%;
  background: url("rewards9.png") no-repeat;
}
.scrollDiv{
  overflow: auto;
  height: 463px;
}
.divScroll {
  overflow-x:scroll;
  overflow-y:scroll;
  width: 100%;
  height: 543px;
  margin: 0 auto;
  border: 1px solid #8A184B;
}
.checkmidddle
{

  left: 70px;
   width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: gray;
}
.checkmidddle:checked {
  background-color: #ED1B24;
}
.button-stylecenter{

  background: #000;
  color: #FFFFFF;
  width: 106px;
  height: 30px;
  font-weight: bold;

  margin:0px auto;
  border-radius: 5px;
  border: hidden;

}


.style_1
{
  overflow:auto;
}
.info-line {
  display: table-row;
  color: #000000;

  .title {
    width: 135px;
    font-size: 15px;
    display: table-cell;
  }
  .delimiter {
    width: 10px;
    display: table-cell;
  }
  .value {
    font-size: 15px;
    display: table-cell;
  }
}

.info-line1 {
  display: table-row;

  .title {
    color: #3d539e;
    width: 300px;
    font-size: 15px;
    display: table-cell;
  }
  .value {
    font-size: 15px;
    display: table-cell;
    color: black;
  }
}

tr.parent-row.expanded td:first-child:before {
  font-size: 70px;
  content: "\2193";
}


tr.parent-row td:first-child:before {
  font-size: 70px;
  content: "\2193";

}







.bold-pink-text {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.custNameStyle{
  padding-left: 20px;
  padding-top: 0;
  color: #000000;
}


.normal-text {
  padding-left: 20px;
 /* font-size: 17px;*/
  color: #000000;
}

.normal-textInfo {
  padding-left: 90px;
  font-size: 17px;
}
.normal-textInfom {
  padding-left: 50px;
  font-size: 17px;
}

.normal-text1 {
  background-color: #ffffff;
  color: #1F4BEF;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}

.normal-text2 {
  background-color: #ffffff;
  color: #1F4BEF;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}

.normal-text-griddle {
  background-color: #ffffff;
  color: #000000;
  font-size: 4px;
  font-weight: normal;

}


.fa-3 {
  font-size: 3em !important;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;

}

.pink-caption {

  background-color: #5C0D37;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  height:40px;
  padding-top: 10px;

}

.blue-caption{

  color: white;
  font-size: 20px;
  text-align: center;
  min-height:40px;
  padding-top: 6px;
}

.grayBodyStyle{
  ul{
    -webkit-padding-start: 20px;
  }
  margin-bottom: 20px;
  min-height: 115px;
  padding: 10px;
  font-size: 15px;

  color: black;
}
.grayBodyStyle1{
  ul{
    -webkit-padding-start: 20px;
  }
  margin-bottom: 20px;
  min-height: 265px;
  padding: 10px;
  font-size: 15px;
  background-color: #d1d3d4;
  color: black;
}
.grayBodyStyle2{
  ul{

    -webkit-padding-start: 20px;

    li{
      margin-top: 15px;
    }
  }

  margin-bottom: 20px;
  min-height: 180px;
  padding: 10px;
  font-size: 15px;
  background-color: #d1d3d4;
  color: black;
}

.hrStyle{
  hr{
    margin-bottom: 5px;
    border-top: 1px solid #555;
    margin:20px 15px 7px 20px;
    color: black;
  }
  h6{
    margin: 0 20px;
    color: black;
  }
}
.hrStylem{
  hr{
    margin-bottom: 5px;
    border-top: 1px solid #555;
    margin:5px 0 7px 15px;

  }
  h6{
    margin: 0 15px;
    color: black;
  }
}

.videoStyle{
  padding: 0;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}

.footerAddress{
 margin: 20px 25px;
  color: black;
}

.socialMediaFooterDiv{
    width: 28px;
    height: 60px;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}
.login {
  position: relative;
  margin: 100px auto;
  padding: 20px 20px 20px;
  width: 500px;
  background: #5C0D37;
  border-radius: 10px;
}
.container-class
{
  background-color: #FFFFFF;
}
.container-center
{
  left: 50px;
}
.loginfont-color{

  color: white;
  font-size: 20px;
}
.bs-example{
  margin: 20px;
}


.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}
.inputtext
{
  width: 200px;
  height:150px;
  font-size: 16px;
  background-color: #FFFFFF;

}

.fieldDate {

  font-face:"verdana";
  font-size: 16px;
  clear:left;
  text-align:right;
  padding-right:10px;
  top:50px;
}

.Profilediv {
  line-height: 20px;
  top:150px;
}
.leftmargin
{
  padding-left:200px;
}
.label-control1 {
  align:"right";
  padding-right: 50px;
  width: 400px; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
  height: 30px;
  font-size: 16px;
}
.container-view
{
  border: 10px solid #000000;
  background-color: #BDBDBD;
}
.btnbag
{
  color: #FFFFFF;
  background-color: #985f0d;
}
.asstriclass
{
  color:#5C0D37;
}

.menu {

  font-size: 14px;
  background: #ffffff;
  border: 1px solid #5C0D37;
  padding: 10px 40px;
  height: 300px;


}
.textInput2
{
  width: 500px;
  color: #000000;
  margin-top: 0px;
  margin-left: 5px;
  height:100px;
  padding-top:0px;
  vertical-align:top;
}

.fieldDate1 {
  display: inline-block;
  width: 200px;
  text-align: left;
  font-size: 14px;

}
.divrounded {
  border: 10px solid #000000;
  padding: 10px 40px;
  background: #dddddd;
  width: 900px;
  height: 650px;
  border-radius: 25px;
}
.divrounded1 {
  border: 10px solid #000000;
  padding: 10px 40px;
  background: #dddddd;
  width: 900px;
  height: 1200px;
  border-radius: 25px;
}
.divrounded1_wealth {
  border: 5px solid #000000;
  padding: 10px 40px;
  background: #dddddd;
  width: auto;
  height: auto;
  border-radius: 25px;
}


.label-control2 {
  align: "center";
  //padding-right: 50px;
  width: 300px; // Prevent labels from stacking above inputs in `.form-group`
  //vertical-align: middle;
  vertical-align: middle;
  height: 80px;
}
.fontStyle_complete{
  font-face:"Forte";
}

.body {
  font-family: 'Oswald', sans-serif;
}
.bootstrap-container  {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

}

.divModifi {
  font-family: myFirstFont;
}

.divScroll {
  overflow-x:scroll;
  overflow-y:scroll;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #5C0D37;
}

.btncontainer {
  text-align: center;
   margin: 0 auto;
}

.thumbnail {
  margin-bottom:7px;
}
.divclassforImage
{
  position: relative;
  left:0;
  top: -72px
  ;
}

.emptyDivUp{
  position: absolute;
  background-color: #dcddde;
  z-index: 1;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}
.emptyDivDn{
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 50px;
  left: 0;
  height: 5px;
  width: 100%;
}

.linkAnchorM{
  color: white;
  font-size: 33px;
}

.tabClass {
  border: 1px solid;
  border-radius: 15px 15px 0 0;
}


.customNavStyle{
  margin: 0;
  width: 100%;
  ul{
    padding: 0;
    list-style: none;
    float: left;
    border-bottom: white;
    li{
      padding-left: 1.1px;
      padding-bottom: 1px;
      display: inline-block;
      a{
        text-align: center;
        display: block;
        width: 198px;
        font-size: 17px;
        padding: 10px 0;
        color: white;
        text-decoration: none;
        background-color: #CE2C2E ;
        &:hover{
          background-color: #262626 ;
          text-decoration: none;
        }
      }
      a.active{
        text-decoration: none;
        background-color: #262626 ;
      }
    }
  }
}
/*
.customSubNavStyle {
  margin-top: 15px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  li {
    float: left;
    margin-right: 6px;
    border-radius: 22px;
    border: 2px solid #808285;
    margin: 10px 5px;
    width: 29%;
    height: 40px;
    font-size: 17px;
    color: #000000;
    background-color: #fff;
    &:hover,&:focus{
      background-color: #dcdcdc;
    }
  }

  li a {
    display: block;
    color: #777;
    font-size: 16px;
    text-align: center;
    padding: 5px 22px;
    text-decoration: none;
    &:hover,&:focus{
      color: #878787;
    }
  }
}

*/

.subLine{
  div{
    height: 20px;
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    color: #004b8d;
  }
}

.mainHeadingStyle{
  color: #ED1C24;
  h2{
    text-align: center;
    font-weight: bold;
  }
  h4{
    margin-left: 0;
    span{
      margin-left: 15px;
    }
  }
}
.mainHeadingStyle_reward{
  color: #004b8d;
  h2{
    text-align: center;
    font-weight: bold;
  }
  h4{
    margin-left: 18px;
    margin-top: 41px;
    span{
      margin-left: 15px;
    }
  }
}

.homeRcornerBorder
{
  margin-left: 15px;
  width: 97%;
  border-radius: 15px;
  border: 3px groove #cccccc;
  margin-bottom: 15px;
  padding: 10px;
  min-height: 218px;
}

.homeRcornerBorderm
{
  padding: 10px 35px 0 15px;
  height: 218px;
}

.containerAlign{
  margin: 5px 10px 20px 10px;
}

.radioLblStyle{
  margin-right: 40px;
  font-size: 12px;
}

.dateStyle{
  width: 200px;


}
.cardHolderStyle{
  width: 250px;
}
.colWidthStyle{
  width: 448px;

}
.colWidthStyle_amount{
  max-width: 65px;
  text-align: right;

}




.colWidthStyle_exchange{
  max-width: 165px;
}
.containerclass
{
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;

}

.containerclassleft
{
  text-align: left;
  font-size: 12px;
  color: white;
}

.containerContactUs
{
  padding-left: 25px;
  p{
    font-size: 17px;
  }
  ul{
    list-style: none;
  }
  li{
    width: 180px;
    display: inline-block;
    font-size: 15px;
  }
}

#getMoreUlId{
  list-style: none;
}

#statementTable{
  border: 1px solid #cdd1d1;
  th{
    font-size: 15px;
    background-color: #f7f3ff;
  }
}

.divrounded2
{
  top:10px;
  //border: 10px solid #000000;
  padding: 10px 40px;
  background: #dddddd;
  width: 700px;
  height: 300px;
  border-radius: 25px;
}
.container-class123
{
  background-color: #00ee00;
  position: relative;
  //left:100px;
}


/*
.containerPadding
{
  //left:105px;
  padding-left:130px;
  padding-right:130px;
}
*/

.containerPadding
{
  background-color: #EEEAE9;
  /*padding: 10px 132px 10px 148px;*/
}


.containerPaddingm
{
  /*background-color: #5B5B5B;*/
  padding: 0;
}

.innerMainContainer{
  padding: 0px 15px 0 15px;

}

.containerleft
{
  background-color: white;
  position: relative;
}

.containerMiddle
{
  text-align: center;
  background-color: white;
  position: relative;
}

.contentDiv{
  border-radius: 0 0 20px 20px;
  background-color: white;
}

.pink-caption-roundcorner {

  background-color: #5C0D37;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  height:40px;
  padding-top: 10px;

  border-radius: 20px 20px 0px 0px;


}



.credit-btn {
  bottom: 5px;
  background: #5C0D37;
  color: #FFFFFF;
  // margin: 5px 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  //right: 180px;
  position: absolute;

}

.home-caption {
  top:40px;
 text-align: center;
  background-color: #5C0D37;
  color: white;
  font-size: 17px;
  font-weight: bold;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.rewards {
  width: 100%;
  height: 222px;
  margin-left: 140px;

}


.divrounded3 {

    font-size: 14px;
    background: #ffffff;
    border: 1px solid #5C0D37;
    padding: 10px 40px;
    height: 600px;
    width: 340px;

}
#my{
  zoom: 10%;
}

.cardBtnStyle{
  p{
    padding-top: 8px;
    width: 220px;
    height: 43px;
    background-color: transparent;
    &:focus{
      background: #BCBEC0;
    }
  }
    padding:0;
    background: #fff;
    border-radius: 22px;
    border: 2px solid #808285;
    margin: 10px 5px;
    width: 220px;
    height: 45px;
    font-size: 17px;
    &:hover,&:focus{
      background: #BCBEC0;
  }
}



.selectStyle{
  width: 60px;
  text-align: center;
}

.crDrStyle{
  width: 180px;
}

.zui-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #5a6264;
  font-family: Verdana!important;
  font-size: 12px;
}

.zuiTableFontSize {
  font-family: Verdana!important;
  /*font-size: 14px !important;*/
}

.zui-table thead th {

  border: solid 1px #000000;
  padding: 10px;
  /*text-align: center;*/
  word-wrap: normal;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody tr td {

  border: solid 1px #000000;
  padding: 10px;
 /* text-align: center;*/
  word-wrap: normal;
}

.navTabStyle {
  border-bottom: 1px solid #FFFFFF;
}





.navMobIcon{
  width: 70px;
  height:70px;
  background: url("menuIcon.png") no-repeat center;
}

.rightAlignStyle1 {
  text-align: right;
  padding-right: 40px;
}





.payment-page {

  color: #7A808C;
  width: 50%;

  .header-column {
    font-size: 20pt;
  }

  button {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-width: 1px;
    background-color: crimson;
    color: white;
    width: 80%;
    margin: 0 2em 0 2em;
  }

  .griddle-table {
    tr:nth-of-type(odd) td {
      background-color: #f9f9f9 !important;

    }
    .title {
      width: 33%;
    }
    td, th {
      border: 1px solid #ddd !important;

    }
  }
}

.black
{
  color: black;
}

.facebook {
  width:28px;
  height:35px;
  background: url("Facebook.png") no-repeat;
}

.twitter {
  width:28px;
  height:35px;
  background: url("Twitter.png") no-repeat;
}


.container ul {
  /*text-align: center;
   border: 2px solid red;
  display: inline-block;
  margin: 2px 0;
  padding: 5px;*/
}
.container li {
 /*display: inline-block;*/
}

.firstLabel {
  margin-right: 500px;
  top:20px;
}

.firstLabel {
  margin-right: 500px;
  top:20px;
}

.fieldDate {
  clear:left;
  text-align:right;
  padding-right:10px;
  top:50px;
}

.Profilediv {
  line-height: 20px;
  top:150px;
}

.label-control1 {

  width: 520px; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
  height: 30px;
}

.margin-left{
  margin-left: 80px !important;
}
.text-center{
  text-align: center !important;
}
.button-style{

  background: #5C0D37;
  color: #FFFFFF;
  margin: 10px 30px;
  width: 120px;
  height: 30px;
  font-weight: bold;


}
.button-griddle2{

  background: #5C0D37;
  color: #FFFFFF;
  // margin: 5px 5px;
  width: 70px;
  height: 30px;
  font-weight: bold;
  right:2px
}

.button-stylecenter{
  background: #000;
  color: #FFFFFF;
  width: 120px;
  height: 30px;
  font-weight: bold;
  margin:0px auto;
}

.static-banner-print{
  top:80px;
  background: #5C0D37;
  color: #FFFFFF;
  // margin: 5px 5px;
  width: 70px;
  height: 30px;
  font-weight: bold;
  right:2px;
  position: absolute;

}

.credit-print{
  background: #3d457a;
  color: #FFFFFF;
  font-size: 17px;
  padding: 5px 30px;
  margin-top: 10px;
  margin-left: 82px;
  border-radius: 15px;
  border: solid 1px #3d457a;
  height: 35px;
  &:hover{
    background: #455d9a;
    border: solid 1px #3d457a;
  }
}

#checkbox1
{
  align:center;
  position: relative;
  right: 12px;
}

.credit-export {
  top: 250px;

  color: #FFFFFF;
  // margin: 5px 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  right: 14px;
  position: absolute;

}


figure.hdfc{
  padding-top: 30%;
  background-image: url("cardHomeAd2.jpg");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  width: 100%;
}


figure.dfccBanner {
  padding-top: 30%;
  background-image: url("dfcc_banner.png");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;

}

.dfccBanner {
  padding-top: 30%;
  background-image: url("dfcc_banner.png");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;

}

figure.dfccTopBanner {
  padding-top: 12%;
  background-image: url("DFCC_TopBar2.png");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;

}

figure.dfccHomePageBanner {
  padding-top: 31%;
  background-image: url("Banner_830x280_1.jpg");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;

}

figure.ccDFCC {
  padding-top: 100%;
  background-image: url("cc_dfcc.png");
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

/*CSS by Pankaj*/
body{
  background-color: #EEEAE9 !important;
}

.margpadd0 {
    padding: 0!important;
}
.margpadd0, .margin0 {
    margin: 0!important;
}

.dfccLogo {
  background-color: #fff;
  background-image: url("dfcc_logo.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 43px;

}
.navBgColcor {
    background-color: #ED1B24;
    margin: 0;
    padding: 0;
    padding-left: 0!important;
}
.customNavStyle ul li {
    padding-left: 1.1px;
    padding-bottom: 1px;
    display: inline-block;
}

.customNavStyle ul li a.active, .customNavStyle ul li a:hover {
    text-decoration: none;
    background-color: #D8131C;
}
.customNavStyle ul li a {
    text-align: center;
    display: block;
    width: 130px;
    font-size: 12px;
    padding: 12px 0;
    color: #fff;
    text-decoration: none;
    background-color: #ED1B24;
    text-transform: uppercase;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none !important;
    border-radius: 4px 4px 0 0;
}

.delights{
  li{
    cursor: pointer;
    text-decoration: underline;
    color: #6596d2;
  }
  margin:0;
  padding: 0;
  list-style-type: none;
}

.delights li a{
  text-decoration: underline;
  color: #6596d2;
}

.paddingRightLeft{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.greayColor{
  color: #9D9495;
}

.colorRed{
  color :#ED1B24;
}

.fontSize15{
  font-size: 15px;
}
.backgroundWhite{
  background: #fff;
}
.paddingLeftNone{
  padding-left: 0px !important;
}
.col-half-offset{
  margin-left:4.166666667%
}
.font11{
  font-size: 11px;
}
.font12{
  font-size: 12px;
}
.padding10{
  padding:10px;
}
.padding20{
  padding:20px;
}
.padding40{
  padding: 40px 0px 0px 0px;
}
.bgred{
  background: #ED1B24;
  color:#fff;
}
.minHeight452{
  height: 452px;
}
.borderTopGreay{
  border-top: 5px solid #EEEAE9;
}
.borderTopGreay15{
  border-top: 15px solid #EEEAE9;
}

.thBgRed thead th{
  background: #ED1B24 !important;
  color: #fff !important;
 // text-align: left !important;
  font-weight: normal !important;
  text-shadow: none !important;
}

.thBgRed tbody td, .thBgRed thead th{
  border: none !important;
  padding: 12px 0 12px 12px!important;
  /*font-size: 12px !important;*/
}
.thBgRed {
  border: none !important;
}
.modal-dialog {
  width: 400px !important;
  margin: 30px auto;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9 !important;
}
.padding-top-bottom15{
  padding-top: 15px;
  padding-bottom: 15px;
}

.borderRightWhite{
   border-right: 1px solid #fff;
}
.minHeight300{
  min-height: 300px;
  height: 300px;
}
.minHeight50{
  min-height: 50px;
  height: 50px;
}

.minHeight47{
  min-height: 47px;
  height: 47px;
}
.minHeight149{
  min-height: 149px;
  height: 149px;
}
.borderRightGreay{
  border-right: 3px solid #EEEAE9;
}
.textUnderLine{
   text-decoration: underline;
}
.griddle{
  border: none !important;
}
.griddle-container{
  border: none !important;
}
.griddle-container div{
  overflow-y: hidden !important;
}

.borderTopGreay1{
  border-top: 1px solid #9D9495;
}
.height0{
  height: 0px;
  margin: 0;
}
.leaseAndLoan:before{
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  top: -26px;
}
.loanAndLease:before{
  bottom: 100%;
  left: 41%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  top: -26px;
}
.creditCardSummury:before{
  bottom: 100%;
  left: 19%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  top: -26px;
}

.creditCardTransaction:before{
  bottom: 100%;
  left: 62%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  top: -26px;
}
.creditCardReward:before{
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: relative;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  top: -26px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1cacb;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ED1B24;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.padTopBot20{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.padTopBot20_special_offer{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.text_align_center{
  text-align: center !important;
}
.pad_mar
{
  margin-top: 10px;
}
.minHeight554{
  min-height:554px;
  height: 554px;
}

.minHeight705{
  min-height:705px;
  height: 705px;
}

.minHeight675{
  min-height:675px;
  height: 675px;
}
.textCenter{
  text-align: center;
}

.rewardsBtn{
  width: 270px;
}

.customSubNavStyle {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 10px;
    width: 27%;
    height: 40px;
    font-size: 17px;
    color: #000000;
    background-color: #fff;
    &:hover,&:focus{
      
    }
  }

  li a {
    display: block;
    color: #777;
    font-size: 16px;
    text-align: center;
    padding: 10px 22px;
    text-decoration: none;
    &:hover,&:focus{
      color: #ED1B24;
    }
  }
  li a.active{
    color: #ED1B24;
  }
}

.paddingDesktop{
  padding : 0 !important;
}

.divScrollRewards {
  overflow-x:scroll;
  overflow-y:scroll;
  width: 100% !important;
  height: 280px !important;
  margin: 0 auto;
  border: 1px solid #9D9495 !important;
}

/*.divScrollRewards::-webkit-scrollbar{
    border:1px #ED1B24 solid;
    border-radius:10px;
    background: #ED1B24;
    width:10px;
    height:10px;
  } */

.offersBorderStyle{
  padding: 20px;
  /*border: solid 2px #c0c4c4;*/
  box-shadow: 0px 0px 5px 1px #dbd8d8;
}

.offersBorderStyle ul{
  padding: 20px;
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.offersBorderStyle ul li{
  padding: 20px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #9D9495;
}

.offersBorderStyle .offerTermsP{
  font-size: 11px;
  color: #9D9495;
  margin-top: 20px;
}

.contactInput{
    border: 0px solid #f2f3f4!important;
    border-radius: 0!important;
    background: #f2f3f4 !important;
}
.contactText{
  width:100%;
  height: 100px !important;
}
.textRight{
  text-align: right;
}

@media (max-width: 1024px) {
  .containerMiddle{
    margin-top: 50px ;
  }

.customNavStyle ul{
  width: 98%;
}


  .customNavStyle{
    padding: 0 !important;
  }
  .customNavStyle ul li a {
    width: 100% !important;
  }
  .tabclass1 {
    margin: 0px !important;
  }
   .paddingDesktop{
     padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .customSubNavStyle li {
    margin-left: 2px !important;
    margin-right: 0px !important;
    margin-top:2px !important;
    width: 31%;
  }
   .creditCardTransaction:before{
      bottom: 100%;
      left: 70%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: relative;
      pointer-events: none;
      border-bottom-color: #fff;
      border-width: 8px;
      top: -26px;
    }
}

@media (max-width: 768px) {

  .borderRightWhite{
    border-right: none;
  }
  .mbMarginTop{
    margin-top: 5px;
  }
  .mbTextCenter{
    text-align: center;
  }
  .borderRightGreay{
    border-right: none;
  }

  .minHeight601{
    height: auto;
  }
  .paddingLeftNone{
   /* padding-left: 15px !important;*/
   padding: 0 !important;
  }
  .nav{
    padding-left: 28px;
    width: 100%;
  }
  .row {
     margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .innerMainContainer{
    padding: 0 !important;
  }

  .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .minHeight452{
    height: 10px;
  }
  .customNavStyle{
    padding: 0 !important;
  }
  .customNavStyle ul li a {
    width: 100% !important;
  }
  .tabclass1 {
    margin: 0px !important;
  }
  .tabclass1 p{
    margin: 0px !important;
  }
  .containerMiddle{
    margin-top: 50px;
  }
  .customSubNavStyle li {
    margin-left: 2px !important;
    margin-right: 0px !important;
    margin-top:2px !important;
    width: 31%;
  }
  .customSubNavStyle li a {
    padding: 10px 5px !important;
  }

  .paddingDesktop{
     padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .creditCardTransaction:before{
      bottom: 100%;
      left: 46%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: relative;
      pointer-events: none;
      border-bottom-color: #fff;
      border-width: 8px;
      top: -26px;
    }
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
      margin: 0;
    }
    .minHeight675{
      height: 50px;
    }
    .minHeight554{
      height: 50px
    }
    .btn{
      font-size: 10px !important;
    }
    .rewardsBtn{
      width: auto;
    }


    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .minHeight705{
    min-height:50px;
    height: 50px;
  }

  .customNavStyle ul {
    width: 100%;
  }

}




.rcornersbanner {
 /* padding: 12px 20px;
  margin: 0 0px 10px 20px;
  width: 97%;
  border: 3px dotted #ff0000;
  min-height: 180px;
  position: relative;
  border-radius: 25px;*/
  margin-top: 10px;

  div > p{
    font-size: 16px;
  }
}

.mob_center
{
  text-align: center;
}
.mob_right
{
  padding: 10px;
  min-height: 146px;
}

.margtop5{
  margin-top: 5px !important;
}
.btn_new {
  display: inline-block;
  padding: 2px 7px;
  /* margin-bottom: 0; */
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button {
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

#popup {
  max-width: 600px;
  width: 80%;
  max-height: 300px;
  height: 80%;
  padding: 20px;
  position: relative;
  background: #fff;
  margin: 20px auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.modal-title {
  text-align: center;
  background: #ED1B24;
  color: white;
}
.modal-header {

  text-align: center;
}

.margtop10{
  margin-top: 6px !important;
}
.btnClass2_new
{
  background: #CE2C2E;
  color: white;
}
.margtop14{
  margin-top: 14px !important;
}

.paddtop20{
  //padding: 20px 0 !important;
  padding: 10px 0px 5px 0px;
}
.heigh50{
  height: 50px;
}
.heigh150{
  min-height: 158px;
}

hr.hr {
    margin-top: 0!important;
    margin-bottom: 0!important;
    border: 0;
    border-top: 1px solid #eee;
}

.fontsize20{
  font-size: 20px !important;
}

.fontSize12{
  font-size: 12px !important;
}



/*OLD CSS*/
@media (min-width: 981px) {

  .nav-web{
    display: block;
  }

}

@media (max-width: 1350px) {
  .nav-mob {
    display: none;
  }
  .nav>li>a {
    margin-top: 5px !important;
    background-color:#CE2C2E ;
  }

  figure.ccDFCC {
   display: none;
  }
  .customSubNavStyle li a {
    font-size: 12px;

  }

  .nav-web{
    display: block;
  }

  .normal-text
  {
    font-size: 12pt;
  }
}


@media (max-width: 1025px) {


  .homeRcornerBorder {
    margin-left: 9px;

  }

  .nav-mob {
    display: block;
  }

  .nav-web{
    display: none;
  }

  .tabclass1 {
    width: 100%;
    text-align: center;
   /* background: #CE2C2E;*/
    margin-left: 3px;
    left: 0;
    border-radius: 10px 10px;
  }

  .normal-text
  {
    font-size: 9pt;
  }

  .containerPadding {
    padding: 0px;

  }

  .blue-caption {
    margin-top: 15px;
  }
  .mainHeadingStyle{

    h2{
      font-size: 22px !important;
    }

  }
.customSubNavStyle li {

 /* min-width: 52% !important;
  margin-left: 52px;*/
}


   .container-fluid {

    margin-top: -51px;
  }

  .p_word{

    word-wrap: break-word;
  }
}


